html, body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;

}

h3 {
    font-size: 2.0rem;
    font-family: 'Helvetica', Georgia, serif;
    color: white;
    position: relative;
    left: -33%;
    margin-bottom: -0.5rem;
}

h2, p {
    color: white;
    font-family: 'Helvetica', Georgia, serif;
}

button {
    border: 3px solid #e5004b;
    color: white;
    margin-top: 0.5rem;
    background: #1e1e1e;
    cursor: pointer;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    width: 85%;
    overflow: scroll;
    font-family: 'Helvetica', Georgia, serif;
}

table tr td {
    border-bottom: 1pt solid #1e1e1e;
}

table tr th {
    border-bottom: 1pt solid #1e1e1e;
}

.sliderDot::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e5004b;
    cursor: pointer;
}

.sliderDot::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e5004b;
    cursor: pointer;
}

.rect {
    padding: 0.25rem 0.4rem;
    background: #95989A;
    width: 3rem;
    border: 3px solid #323232;
    margin: -0.5rem 0 0 0;
}

h1 {
    position: relative;
    top: 1rem;
    font-size: 4rem;
    font-family: 'Merriweather', serif;
    color: #e5004b;
}

h1.projectTitle {
    text-align: center;
}

img {
    width: 20%;
    height: auto;
    z-index: 1;
}

span {
    position: relative;
    top: -2rem;
    margin-left: 2rem;
}

.MenuButton {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    stroke: #95989a;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 5rem;
    fill: none;
    z-index: 102;
    padding: 0.5rem;
}

.main {
    text-align: center;
    display: flex;
    align-items: start;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    /* grid-template-rows: 70% 10% 20%; */
    /* flex-direction: column; */
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: overlay;
}

.actionBox {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    /*grid-row-start: 1;
    grid-row-end: 1;*/
    align-self: end;
    margin-top: 8%;
}

.slideContainer{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: end;
}

.footer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* grid-row-start: 2; */
    /* grid-row-end: 2; */
    width: 100%;
    /* grid-template-rows: 10% 30%; */
    /* align-self: end; */
    align-self: flex-end;
}

.filterBox{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
}

.filter {
    height: 50px;
    width: 50px;
    margin: 1rem 0.25rem 1rem;
    border-radius: 100%;
    background-color: #1e1e1e;
    border: 2px solid #e5004b;
}

.dot {
    height: 10%;
    width: 10%;
    background-color: #e5004b;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: 5%;
}

.audioPlayer {
    height: 5rem;
    /*width: 85%;*/
    position: relative;
    /* margin-top: 7.5%; */
    /* left: 7.5%; */
    background-color: white;
    border: 3px solid #e5004b;
    left: 7.5%;
    /* padding-top: 1rem; */
    /* margin-top: 9rem; */
}

.minimalButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.minimalButtons > svg {
    margin: 0.75rem;
    height: 3rem;
    width: auto;
}

.minimalButtons > div {
    margin: 0.75rem;
    height: auto;
    width: 3rem;
}

.loadAndMusicChanger {
    height: 25%;
    width: 100%;
    align-content: center;
}

.buttons {
    margin: -3rem 0 0 0;
}

.mediaBox {
    background-color: #494949;
    width: 20%;
    height: 100%;
    /*height: auto;*/
}

.musicFolder {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    background: #494949;
    width: 100%;
    height: auto;
    color: white;
    max-height: 15vh;
    overflow-y: scroll;
}

.crossFader {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: end;
    -webkit-appearance: none;
    width: 50%;
    height: 7.5px;
    border-radius: 10px;
    background: #494949;
    -webkit-transition: .2s;
    justify-self: center;
}

.crossFader::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e5004b;
    cursor: pointer;
}

.crossFader::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e5004b;
    cursor: pointer;
}

.player {
    /*float: left;*/
    height: 50px;
    width: 50px;
}

.form {
    width: 40%;
    /* height: 29rem; */
    background-color: #494949;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    /* display: flex; */
    flex-direction: row;
    /* min-height: 100%; */
    margin-top: 6rem;
    justify-content: center;
}

p {
    color: white;
    font-family: 'Helvetica', Georgia, serif;
}

h2.loginTitle {
    font-size: 30px;
    position: relative;
    top: 1rem;
    margin-bottom: 0.75rem;
}

div.errorMessage h3, div.errorMessage p {
    color: white;
    font-family: 'Helvetica', Georgia, serif;
    position: relative;
}

div.errorMessage h3 {
    color: white;
    font-size: 2.0rem;
    margin-bottom: -0.5rem;
    top: -1.25rem;
    left: -5%;
}

div.errorMessage p {
    left: 10%;
    font-size: 20px;
    text-align: left;
    top: 10%;
}

.pushButton {
    width: 75%;
    background-color: #e5004b;
    border: none;
    height: 2.5rem;
    text-align: center;
    align-self: flex-end;
    margin: 3rem 0 1rem 0;
    font-size: 1.5rem;
}

input[type="text"].path {
    width: 75%;
    background-color: #1e1e1e;
    color: white;
    border: none;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

input[type="text"]::placeholder {
    color: white;
}

.errorMessage {
    position: relative;
    width: 250px;
    height: 120px;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.errorMessage:after {
    content: '';
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 5px;
}

h2, p {
    color: white;
    font-family: 'Helvetica', Georgia, serif;
}

.menuOps {
    display: none;
}

.menu {
    opacity: 0;
    width: 0;
    margin-left: 0;
}

input[type="text"].showInput {
    animation: showInput 0.5s ease-in-out 0s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    width: 0;
    height: 0;
}

/** Animeationen**/
/*
.hover{
  animation: swing 1s ease;
}

.openMenu{
  animation: showMenu 1s ease-in-out 0s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.closeMenu{
  animation: showMenu 1s ease-in-out 0s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

input[type="text"].closeInput{
  animation: showInput 0.5s ease-in-out 0s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-direction: reverse;
}

@keyframes showCrossOne {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(45deg) scale(0.5, 0.5) translate(20px,15px);
  }
}

@keyframes showCrossTwo {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(-45deg) scale(0.5, 0.5);
  }
}

@keyframes closeCrossOne {
  100%{
      transform: rotate(45deg) scale(0.5, 0.5) translate(20px,15px);
    }

  0%{
    transform: rotate(0deg);
  }
}

@keyframes closeCrossTwo {
  100%{
    transform: rotate(-45deg) scale(0.5, 0.5);
  }

  0%{
    transform: rotate(0deg);
  }
}

@keyframes showInput {
  0%{
    opacity: 0;
    width: 0rem;
    height: 0rem;
  }
  25%{
    opacity: 0.25;
    width: 2.5rem;
    height: 0.5rem;

  }
  50%{
    opacity: 0.50;
    width: 5rem;
    height: 1rem;
  }
  75%{
    opacity: 0.75;
    width: 10rem;
    height: 1.5rem;
  }
  100%{
    opacity: 1;
    width: 15rem;
    height: 2rem;
  }
}

@keyframes showMenu {
      0%{
        width: 3rem;
        border-radius: 0.2rem;
        height: 0.25rem;
      }

      100%{
        border-radius: 1rem;
        width:20rem;
        height: 5.5rem;
      }
}

@keyframes closeMenu {
  100%
  {
    border-radius: 1rem;
    width:20rem;
    height: 5.5rem;
  }

  0%
  {
    width: 3rem;
    border-radius: 0.2rem;
    height: 0.25rem;
  }
}

@keyframes swing{
    15%
    {
        transform: translateX(2px);
    }
    30%
    {
        transform: translateX(-2px);
    }
    75%
    {
        transform: translateX(3px);
    }
    100%
    {
      transform: translateX(0);
    }
}



/* The side navigation menu */
.sideBar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 101; /* Stay on top */
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
    float: left;
}

.sideBar h3 {
    font-size: 1.0rem;
    font-family: 'Helvetica', Georgia, serif;
    color: white;
    position: relative;
    top: 4rem;
    left: 0;
    margin-bottom: 0;
}

.sideBar input[type="text"] {
    background-color: #494949;
    width: 95%;
    height: 2rem;
    margin: 5rem 0 0 0;
    font-size: 16px;
    border: 2px solid #494949;
    color: white;
    text-align: center;
}

.fullTransparent{
    width: 0;
    height: 100%;
    display: flex;
    z-index: 101; /* Stay on top */
    flex-direction: row;
    position: fixed; /* Stay in place */
}

.transparentPart {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 101; /* Stay on top */
    background-color: rgba(30,30,30,0.65); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    float: left;
    cursor: pointer;
}

.restScreen{
    height: 100%;
    width: auto;
    color: rgba(215, 44, 44, 0.5);
}

.wrongPath {
    background-color: #e5004b;
    width: 4%;
    height: 2.5rem;
    position: relative;
    top: -4.6rem;
    left: 11%;
}

.specialSideWrongPath {
    top: -2.4rem;
    height: 2.4rem;
    left: 2%;
}

.online {
    display: none;
}

.login {
    text-align: center;
    margin-top: 20rem;
}

.errorMessage {
    display: block;
    position: absolute;
    width: 18rem;
    height: 120px;
    padding: 0;
    top: 32%;
    left: 104%;
    background: #494949;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.errorMessage:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #494949;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 10px;
}

.finalVideo {
    height: auto;
    /*width: 17rem;*/
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.testBeam {
    /*width: 10px;*/
    height: 70px;
    margin: 0 4px 0 0;
    background-color: #e5004b;
    float: left;
}

.mediaBox div video{
    height: 6rem;
    margin: 2%;
}

.finalVideo video, .finalVideo canvas{
    /*width: 100%;*/
    position: relative;
    top: 0.2rem;
}

.sliderBox{
    height: auto
}


.mediaBox > p, .sliderBox > p {
    font-size: 0.6rem;
    position: relative;
    left: 13%;
    top: 1.1rem;
    text-align: left;
    z-index: 1;
    user-select: none;
}
/* Animation Bar */
.bar {
    animation-name: moveBar;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-delay: 1s;
    width: 10px;
    background-color: #494949;
    margin: 0 2.5px 0 2.5px;
    float: right;
    position: relative;
    padding: 0 5px 0 5px;
}

@keyframes moveBar {
    from {
        left: 0px;
    }
    to {
        left: -135px;
    }
}

input[type=checkbox] {
    width: 50%;
    height: 2rem;
    grid-column-start: 2;
    grid-column-end: 2;
}

.fileBrowser{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}

.filterTitle {
    text-align: left;
    font-size: 1.0rem;
    grid-column-start: 1;
    grid-column-end: 1;
}

.sliderFilter {
    margin: 0 0 0.75rem 0;
    -webkit-appearance: none;
    width: 75%;
    height: 7.5px;
    border-radius: 10px;
    background: #1e1e1e;
    -webkit-transition: .2s;
}

.sliderFilter::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e5004b;
    cursor: pointer;
}

.filterBubble {
    position: absolute;
    /*width: 13rem;*/
    height: 40px;
    padding: 0;
    background: #1e1e1e;
    border-radius: 0;
    display: none;
    border: #e5004b solid 3px;
    left: 3.75%;
}

.filterBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #e5004b transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -10px;
    bottom: -10px;
    left: 50%;
}

.filterBubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;
    border-color: #e5004b transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -12px;
    bottom: -15px;
    left: 50%;
}

.checkboxThree input[type=checkbox] {
    visibility: hidden;
}

.checkboxThree {
    /*width: 9.5rem;*/
    height: 3rem;
    background: #333;
    margin: 1rem 12.8rem;
    position: relative;
}

.checkboxThree:before {
    content: 'On';
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    height: 2px;
    color: #6AAF2C;
    font-size: 1.5rem;
    font-family: "Helvetica";
}

.checkboxThree:after {
    content: 'Off';
    position: absolute;
    top: 0.75rem;
    left: 6.25rem;
    height: 2px;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Helvetica";
}

.checkboxThree label {
    display: block;
    /*width: 4rem;*/
    height: 2rem;
    border-radius: 0;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    z-index: 1;
    left: 1rem;
    background: #fff;
}

.checkboxThree input[type=checkbox]:checked + label {
    left: 4.5rem;
    background: #6AAF2C;
}

.filterInfo {
    /*width: 100%;*/
    height: auto;
    padding: 1rem 0 0 0;
    background: #494949;
}